{% extends 'base.html' %}

 {% block title %}
    <title>Accept application </title>
    {% endblock title %}

{% block content %}
{% if request.user.is_authenticated and request.user.is_employer%}
<form method="post" action="" enctype="multipart/form-data" class="form-group"> {% csrf_token %}
<div class="container-fluid mt-2 m-4">
            
                
            <h2>Accept Application</h2>
            <div class="col-6">

                
               <textarea class="form-control" name="message" rows="7" cols="100" style="resize: none;"> </textarea>

               <br>
                <input type="hidden" value='{{applications.id}}' class="form-control" name="application_id" readonly>
                
                <button type="submit" class="btn btn-success btn-md col-7"><span class="btn-label"></span><i class="bi bi-check"></i></span> Accept Applicaion</button>
            </div>
       
</div>
</form>
{% else %}
        <p>You need to be logged in as an Employer to accept an application.</p>

        {% endif %}
{% endblock %}
