{% extends 'base.html' %}
{% include 'navbar.html' %}

{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'staticfiles/css/joblist.css' %}">
<section class="jobsearch" style="background-color: #F7F5EB;">

    <div class="container mt-4" id="searchfilter">
        <form action="{% url 'jobs:filter_view' %}" name="searchfilter" method="post"> {% csrf_token %}
            <div class="container" id="searchcardcontainer">
                <div class="dropdown" name="dropdown">
                    {% for field in category %}
                    {{ field }}
                    {% endfor %}
                </div>
                <div class="dropdown" name="dropdown">
                    {% for field in type %}
                    {{ field }}
                    {% endfor %}
                </div>
                <div class="dropdown" name="dropdown">
                    {% for field in level %}
                    {{ field }}
                    {% endfor %}
                </div>

                <div class="dropdown" name="dropdown">
                    {% for field in salary %}
                    {{ field }}
                    {% endfor %}
                </div>


                <div class="filterbutton">
                    <button type="reset" value="reset"
                        style="border: 2px solid #B6C6FF; background-color: #F5f5f7;">Clear</button>
                    <button type="submit" value="submit">Filter<img class="ms-1" src="{% static 'filter.png' %}"
                            width="18px" height="15px"></button>
                </div>
            </div>
        </form>
    </div>
</section>


{% if jobs %}


<section class="card">
    <div class="container" style="display: inline-block;">

        <div class="container" id="cardcontainer">
            {% for job in jobs %}


            <div id="cardbox">

                <div class="card flex-row"><img class="card-img-left example-card-img-responsive" src="{{job.logo.url}}"
                        width="190px" height="200px" alt="" />

                    <div class="card-body">
                        <h4 class="fw-bold fs-5" style="color: #0d1e5c;"> {{job.title}} </h4>
                        <h5 class="fw-bolder fs-6"> Company :{{job.company_name}} </h5>
                        <h5 class="fw-normal fs-6"> Category: {{job.category}} </h5>
                        <h5 class="fw-normal fs-6"> Level: {{job.level}} </h5>
                        <h5 class="fw-normal fs-6"> Type: {{job.type}} </h5>
                        <p><small>Valid Till: {{ job.application_valid}}</small></p>
                        <h5 class="fw-normal fs-6"><a href="{% url 'jobs:job_detail' job.id %}"
                                style="color: black;">More Details</a></h5>
                    </div>
                </div>

            </div>

            {% endfor %}

        </div>
        <div class="container my-3 ml-1" style="display: flex; justify-content: space-between;">
            {% if jobs.has_previous %}
            <a href="?page={{jobs.previous_page_number}}"><button type="button" class="btn btn-secondary btn-sm px-4">
                    <i class="bi bi-arrow-left me-2"></i>Previous</button></a>
            {% endif %}

            {% if jobs.has_next %}
            <a href="?page={{jobs.next_page_number}}"><button type="button" class="btn btn-secondary btn-sm px-4">
                    Next<i class="bi bi-arrow-right ms-2"></i></button></a>
            {% endif %}
        </div>
    </div>
</section>

{% else %}

<section class="card">
    <div class="container" style="display: inline-block;">

        <div class="container" id="cardcontainer">


            <div id="cardbox">



                <div class="card-body">

                    <h5 class="fw-normal">Job with your filter is not available</h5>

                </div>

            </div>



        </div>
    </div>
</section>

{% endif %}
{% include 'footer.html' %}

{% endblock content %}