
{% extends 'base.html' %}
 {% block title %}
    <title>My Application Details</title>
    {% endblock title %}



{% block content %}
   
    <div class="container-fluid">
    <div class="row">
    <h1>My Application Details</h1>   
    
        <div class="col-2 card  m-3">
                    <div class="card-body">
                        <h5 class="mb-1">{{ message.message }}</h5>
                    <hr>
                  
                 
                    <div>
                 
                </div>
                
              </div>
              </div>
         

                          
            
{% endblock %}


